<td-layout>

  <!-- Main Navlist -->
  <td-navigation-drawer flex sidenavTitle="Covalent" logo="teradata-dark" name="Firstname Lastname" email="firstname.lastname@company.com">
    
    <!-- Nav Routes (Main Items) -->
    <mat-nav-list>
      <a *ngFor="let item of routes" mat-list-item><mat-icon>{{item.icon}}</mat-icon>{{item.title}}</a>
    </mat-nav-list>

    <!-- User Related Nav Items (Signout, User Settings, etc.) -->
    <div td-navigation-drawer-menu>
      <mat-nav-list>
        <a *ngFor="let item of usermenu" mat-list-item><mat-icon>{{item.icon}}</mat-icon>{{item.title}}</a>
      </mat-nav-list>
    </div>

  </td-navigation-drawer>

  <!-- Secondary Navlist -->
  <td-layout-nav-list #navList
        [opened]="media.registerQuery('gt-sm') | async"
        [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'over'"
        [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '350px' : '100%'">
    <div td-sidenav-toolbar-content layout="row" layout-align="start center">
      <button mat-icon-button tdLayoutToggle>
        <mat-icon>menu</mat-icon>
      </button>
      <mat-icon [routerLink]="['/']" class="mat-icon-logo cursor-pointer" svgIcon="assets:teradata"></mat-icon>
      <span [routerLink]="['/']" class="cursor-pointer">Covalent</span>
    </div>

    <!-- Toolbar -->
    <div td-toolbar-content layout="row" layout-align="start center" flex>
      <button mat-icon-button tdLayoutNavListOpen [hideWhenOpened]="true">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span>Page Title</span>
      <span flex></span>
      <a mat-icon-button matTooltip="Docs" href="https://teradata.github.io/covalent/" target="_blank"><mat-icon>chrome_reader_mode</mat-icon></a>
      <a mat-icon-button matTooltip="Github" href="https://github.com/teradata/covalent" target="_blank"><mat-icon svgIcon="assets:github"></mat-icon></a>
    </div>

    <!-- Sidenav Content -->
    <mat-nav-list td-sidenav-content [tdLayoutNavListClose]="!media.query('gt-sm')">

      <!-- Secondary Sidenav Items  -->
      <ng-template let-item let-last="last" ngFor [ngForOf]="navmenu">
        <a mat-list-item>
          <mat-icon matListAvatar>{{item.icon}}</mat-icon>
          <h3 matLine> {{item.title}} </h3>
          <p matLine> {{item.description}} </p>
        </a>
        <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
      </ng-template>
    </mat-nav-list>

    <!-- Card -->
    <div tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']"> <!-- Classes are added / removed by directive for break size -->
      <mat-card>
        <mat-card-title>Main Content</mat-card-title>
        <mat-card-subtitle>content area</mat-card-subtitle>
        <mat-divider></mat-divider>
        <mat-card-content>
          card content
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
          <a mat-button color="accent" class="text-upper" [routerLink]="['/']">
            <span>View More</span>
          </a>
        </mat-card-actions>
      </mat-card>
    </div>

    <!-- Inner Footer -->
    <td-layout-footer-inner>
      Optional inner footer
    </td-layout-footer-inner>

    <!-- Main footer -->
    <td-layout-footer>
      <div layout="row" layout-align="start center">
        <span class="mat-caption">Copyright &copy; 2017 Teradata. All rights reserved</span>
      </div>
    </td-layout-footer>

  </td-layout-nav-list>
</td-layout>

<!-- <td-layout>
  <td-navigation-drawer flex sidenavTitle="Covalent" logo="teradata-dark" name="Firstname Lastname" email="firstname.lastname@company.com">
    <mat-nav-list>
      <a mat-list-item><mat-icon>home</mat-icon>Home</a>
    </mat-nav-list>
    <div td-navigation-drawer-menu>
      <mat-nav-list>
        <a mat-list-item><mat-icon>account_box</mat-icon>Profile</a>
      </mat-nav-list>
    </div>
  </td-navigation-drawer>
  <td-layout-nav-list logo="assets:teradata" toolbarTitle="Covalent" navigationRoute="/" opened="true" mode="side">
    <button mat-icon-button td-menu-button tdLayoutToggle>
      <mat-icon>menu</mat-icon>
    </button>
    <div td-sidenav-content>
      Sidenav content here
    </div>
    <div td-toolbar-content>
      <button mat-button tdLayoutNavListToggle>
        Toggle
      </button>
    </div>
      <div style="text-align:center">
        <h1>
          Welcome to {{ title }}!
        </h1>
        <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
      </div>
      <h2>Here are some links to help you start: </h2>
      <ul>
        <li>
          <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
        </li>
        <li>
          <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
        </li>
        <li>
          <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
        </li>
      </ul>

      <router-outlet></router-outlet>
  </td-layout-nav-list>
</td-layout> -->